
parsers.dll
lex.pascal.obj
parsers.lib
parsers.res
parsers.~bpr
PascalDSL.~l
dllmain.obj
common.~h
parsers.tds
DSLparser.res
DSLparser.~bpk
Editor.exe
Editor.map
images/clip.bmp
images/editfolder.bmp
images/folder.bmp
images/folder.png
images/glumb.bmp
images/new.bmp
images/run.bmp
Editor.map
parsers.~bpf
Package1.res
lex.pascal.~c
Editor.map
dllmain.~cpp
common.~hpp
common.hpp
bcbmm.dll
borlndmm.dll
cc3260.dll
Editor.map
Unit1.h
Editor.map
*.dcu
*.zip
AboutBox.ddp
src/AboutBox.~ddp
src/AboutBox.~dfm
src/AboutBox.~pas
dcu/PascalDSL.tab.obj
src/ErrorBoxForm.~dfm
src/ErrorBoxForm.~pas
src/EditorForm.~dfm
src/EditorForm.~pas
src/lex.pascal.c
src/lex.pascal.c
src/PascalDSL.~y
src/6
src/Editor.~dpr
src/Editor.~dpr
src/InfoBoxForm.~pas
src/InfoBoxForm.~dfm
src/PascalDSL.~y
src/Editor.~dpr
src/DesignerFrame.~pas
src/DesignerFrame.~dfm
src/6.dfm
src/C64KeyBoard.~dfm
src/C64KeyBoard.~pas
src/EditFrame.~dfm
src/EditFrame.~pas
src/Editor.~dpr
dcu/pack/Editor.ini
dcu/pack/Editor.UPX.exe
dcu/pack/Editor.UPX.exe
src/C64DrivesFrame.~dfm
src/NewProjectFrame.~pas
src/NewProjectFrame.~dfm
src/TeamServerFrame.~dfm
src/TeamServerFrame.~pas
src/FoldersRemote.~dfm
src/FoldersRemote.~pas
src/FoldersLocal.~pas
src/FoldersLocal.~dfm
src/HelpAuthorFrame.~ddp
src/HelpAuthorFrame.~dfm
src/HelpAuthorFrame.~pas
src/HelpTopicFrame.~dfm
src/HelpTopicFrame.~pas
src/FontStyleFrame.~dfm
src/FontFaceFrame.~dfm
src/FontFaceFrame.~pas
src/FontColorFrame.~pas
src/FontColorFrame.~dfm
src/Editor.~dpr
src/ComputerFrame.~pas
src/ComputerFrame.~dfm
src/Editor.~dpr
src/FontColorFrame.~ddp
src/MembersFrame.~ddp
src/MembersFrame.~dfm
src/MembersFrame.~pas
src/InterpreterClasses.~pas
src/Editor.~dpr
src/NewProjectFrame.~ddp
src/Editor.~dpr
*.exe
*.x
*.xbn
*.xc
*.xce
*.xd
*.xdc
*.xdce
*.xde
*.xdw
*.xdwe
*.xe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xn
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xr
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xs
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xsc
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xsce
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xse
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xsw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xswe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xu
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf32_x86_64.xwe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xn
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xr
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xs
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xsc
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xsce
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xse
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xsw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xswe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xu
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_i386.xwe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xn
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xr
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xs
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xsc
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xsce
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xse
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xsw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xswe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xu
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_iamcu.xwe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xn
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xr
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xs
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xsc
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xsce
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xse
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xsw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xswe
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xu
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xw
dcu/pack/bin/i386-elf-linux/lib/ldscripts/elf_x86_64.xwe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xn
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xr
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xs
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xsc
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xsce
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xse
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xsw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xswe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xu
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf32_x86_64.xwe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xn
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xr
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xs
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xsc
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xsce
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xse
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xsw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xswe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xu
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_i386.xwe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xn
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xr
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xs
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xsc
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xsce
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xse
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xsw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xswe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xu
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_iamcu.xwe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xn
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xr
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xs
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xsc
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xsce
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xse
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xsw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xswe
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xu
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xw
dcu/pack/bin/i686-elf-linux/lib/ldscripts/elf_x86_64.xwe
dcu/pack/bin/m68k-amigaos/gg-fix-includes
dcu/pack/bin/m68k-amigaos/msys-2.0.dll
dcu/pack/bin/m68k-amigaos/msys-gcc_s-seh-1.dll
dcu/pack/bin/m68k-amigaos/msys-gmp-10.dll
dcu/pack/bin/m68k-amigaos/msys-iconv-2.dll
dcu/pack/bin/m68k-amigaos/msys-intl-8.dll
dcu/pack/bin/m68k-amigaos/msys-mpc-3.dll
dcu/pack/bin/m68k-amigaos/msys-mpfr-6.dll
dcu/pack/bin/m68k-amigaos/msys-ncursesw6.dll
dcu/pack/bin/m68k-amigaos/msys-stdc++-6.dll
dcu/pack/bin/m68k-amigaos/msys-z.dll
dcu/pack/bin/m68k-amigaos/sfdc
dcu/pack/bin/m68k-amigaos/vc.config
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xn
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xr
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xs
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xsc
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xsce
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xse
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xsw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xswe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xu
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf32_x86_64.xwe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xn
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xr
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xs
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xsc
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xsce
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xse
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xsw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xswe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xu
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_i386.xwe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xn
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xr
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xs
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xsc
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xsce
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xse
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xsw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xswe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xu
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_iamcu.xwe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xn
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xr
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xs
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xsc
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xsce
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xse
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xsw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xswe
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xu
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xw
dcu/pack/bin/x86_64-elf-linux/lib/ldscripts/elf_x86_64.xwe
dcu/pack/dev/bin/yasm.exe
dcu/pack/dev/bin/yasm.exe
dcu/pack/dev/fnt/C64_Elite_Mono_v1.0-STYLE.ttf
dcu/pack/dev/fnt/consola.ttf
dcu/pack/dev/bin/yasm.exe
dcu/pack/fnt/C64_Elite_Mono_v1.0-STYLE.ttf
dcu/pack/fnt/consola.ttf
src/ComputerFrame.~ddp
src/FormatLayoutFrame.~ddp
src/FormatLayoutFrame.~dfm
src/FormatLayoutFrame.~pas
